<dx-validation-group #targetGroup>
<div class="store-chooser-box">
<dx-drop-down-box #storeDD
    [(value)]="storeId"
    valueExpr="id"
    [deferRendering]="false"
    displayExpr="store_name"
    placeholder="Select a store..."
    [showClearButton]="true"
    (onOpened)="onStoreOpened($event)"
    (onValueChanged)="_onStoreSelected($event)"
    [dataSource]="gridDataSource"
    [width]="400"
>
<dx-validator>
    <dxi-validation-rule type="required" message="Store is required"></dxi-validation-rule>
</dx-validator>
<div *dxTemplate="let data of 'content'">
    <dx-data-grid #storeGRD
            [dataSource]="gridDataSource"
            [showColumnHeaders]="false"
            [columns]="['store_name']"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [scrolling]="{ mode: 'infinite' }"
            (onSelectionChanged)="onStoreSelectionChanged($event)"
            [(selectedRowKeys)]="storeId"
            
            height="100%"
    >
    </dx-data-grid>
</div>
</dx-drop-down-box>
<dx-drop-down-box #employeeDD
    [(value)]="service.employee"
    valueExpr="key"
    [deferRendering]="false"
    displayExpr="value"
    placeholder="Select employee..."
    [showClearButton]="true"
    (onOpened)="onEmployeeOpened($event)"
    (onValueChanged)="_onEmployeeSelected($event)"
    [dataSource]="service?.employees"
    [width]="200"
>
<dx-validator>
    <dxi-validation-rule type="required" message="User is required" ></dxi-validation-rule>
</dx-validator>
<div *dxTemplate="let data of 'content'">
    <dx-data-grid #employeeGRD
            [dataSource]="service?.employees"
            [columns]="['employee']"
            [showColumnHeaders]="false"
            [selection]="{ mode: 'single' }"
            [hoverStateEnabled]="true"
            [paging]="{ enabled: true, pageSize: 10 }"
            [scrolling]="{ mode: 'infinite' }"
            (onSelectionChanged)="onEmployeeSelectionChanged($event)"
            height="100%"
    >
    </dx-data-grid>
</div>
</dx-drop-down-box>
</div>
</dx-validation-group>