:host{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    width:100%;
    height: 100%;
  }
  
  .dx-validationgroup{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  dx-drop-down-box {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .store-chooser-box{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
  }
  .store-chooser-box dx-drop-down-box{
    flex-grow: 1;
  }
  