:host, .page{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}
.mainbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.section{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}