<div class="responsive-paddings content page">
    <div class="mainbar">
        <store-chooser (onValidation)="onValidation($event)" ></store-chooser>
        <dx-button #btnGrid hint="Grid view" icon="contentlayout" (onClick)="onGridLayout($event)"></dx-button>
        <dx-button #btnTile hint="Tile view (Read only)" icon="mediumiconslayout" (onClick)="onTailsLayout($event)"></dx-button>
    </div>
    <div class="section">
        <div class="section_box" [style]="gridStyle">
            <products-grid></products-grid>
        </div>
        <div class="section_box" [style]="tileStyle">
            <products-tails></products-tails>
        </div> 
    </div>
</div>
