<dx-tile-view
    #tileView
    [dataSource]="service.productsDataStore"
    [baseItemHeight]="300"
    [baseItemWidth]="300"
    [showScrollbar]="true"
    width="100%"
    height="100%"
    [itemMargin]="10"
    direction="vertical"
    itemTemplate="tile">
    <div class="tile" *dxTemplate="let data of 'tile'">
        <div class="tile_field title"><b>{{data.title | uppercase}}</b></div>
        <div class="tile_field category"><i>Categoria: </i><span>{{data.category}}</span></div>
        <div class="tile_field description"><i>Descrizione: </i><span>{{data.description}}</span></div>
        <div class="tile_field price"><i>Prezzo: </i><span>{{data.price}} &euro;</span></div>
        <div class="tile_field"><i>Utente: </i><span>{{data.employee}}</span></div>
        <div *ngIf="data?.reviews.length>0" class="tile_field"><i>Recensioni: </i>
            <ul class="reviews" *ngFor="let data of data.reviews">
                <li class="comment">{{data.commento}}</li>
            </ul>
        </div>
    </div>
</dx-tile-view>