:host, .page{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
}
::ng-deep .dx-tile-content {
    height: 100%;
    padding: 0;
    position: relative;
}
::ng-deep .dx-tile {
    border: 1px solid #999;
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    background-color: #cecece;
}
::ng-deep .dx-tile.dx-state-hover {
    border-color: #EEE;
}
::ng-deep .tile_field {
    color: #333333;
    font-weight: bolder;
    padding: 3px;
}

::ng-deep .tile_field span {
    color: #999;
    font-weight: normal;
}

::ng-deep .tile_field .reviews {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
::ng-deep .tile_field .reviews li {
    padding-left: 1em;
    text-indent: -1em;
  }
::ng-deep .tile_field .reviews li:before {
    content: "-";
    padding-right: 5px;
}