<div class="responsive-paddings content page">
    <div class="mainbar">
        <store-chooser (onValidation)="onValidation($event)" ></store-chooser>
    </div>
    <div class="section">
        <div class="section_box" [style]="style">
            <div class="center">
                <dx-polar-chart 
                    [dataSource]="service.categoriesDataStore"
                    [theme]="'material.teal.light'"
                    palette="material"
                    paletteExtensionMode="Blend"
                    title="Products by category">
                    <dxo-loading-indicator [enabled]="true"></dxo-loading-indicator>
                    <dxo-common-series-settings #seriesSettings
                        type="bar"
                        [label]="{visible: true, connector: { visible: true }}"
                        [opacity]="0.75">
                    </dxo-common-series-settings>
                    <dxi-series argumentField="category" valueField="numberOfProducts" name="Products" ></dxi-series>
                    <dxo-value-axis type="discrete" ></dxo-value-axis>
                    <dxo-legend
                        horizontalAlignment="center"
                        verticalAlignment="bottom">
                    </dxo-legend>
                </dx-polar-chart>
            </div>
            <div class="center">
                <div>Select rappresentation Type:</div><br />
                <dx-select-box
                    [dataSource]="types"
                    [(value)]="seriesSettings.type"
                    [width]="200">
                </dx-select-box>
            </div>
        </div>
    </div>
</div>