
::ng-deep  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
// ::ng-deep .center > div,
// ::ng-deep .center > .dx-widget {
//     display: inline-block;
//     vertical-align: middle;
// }