<h2>Products</h2>
<dx-data-grid 
    #mainGrid
    [dataSource]="service.productsDataStore"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    (onEditingStart)="onEditingStart($event)"
    (onRowExpanding)="onRowExpanding($event)"
    (onRowInserted)="$event.component.navigateToRow($event.key)"
    (onInitNewRow)="onAddNewRow($event)"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [hoverStateEnabled]="true"
    [wordWrapEnabled]="true"

>
    <!-- GROUPING -->
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <!-- REMOTE OPERATIONS -->
    <dxo-remote-operations></dxo-remote-operations>
    <!-- PAGING -->
    <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
    <dxo-pager  [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20, 30]" [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>
    <!-- FILTERING -->
    <dxo-filter-row [visible]="true" applyFilter="Immediately"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
    <!-- SEARCHING -->
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
    <!-- COLUMNS -->
    <dxi-column dataField="title" [visible]="true" caption="Product Name"></dxi-column>
    <dxi-column dataField="description" [visible]="true" caption="Product Description"></dxi-column>
    <dxi-column dataField="category" [visible]="true" caption="Product Category">
        <dxo-lookup [dataSource]="service.getProductCategoriesDataSource()"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="price" dataType="number" format="currency" precision="3" format="€ #,##0.##" [visible]="true" caption="Price"></dxi-column>
    <dxi-column  dataField="employee" [visible]="true" caption="User">
        <dxo-lookup [dataSource]="service.store?.data?.employees"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="reviews" [visible]="false" editCellTemplate="masterDetail" ></dxi-column>

    <dxo-master-detail [enabled]="true" template="masterDetail"></dxo-master-detail>

    <div *dxTemplate="let masterDetailItem of 'masterDetail'">
        <dx-data-grid 
            #detailGrid
            [dataSource]="service.activeRecord.reviews"
            [showBorders]="true"
            [columnAutoWidth]="true">
            <dxi-column dataField="commento" [visible]="true" caption="Comments"></dxi-column> 
            <dxo-editing
                mode="row"
                [allowAdding]="!isMasterDetailView"
                [allowUpdating]="!isMasterDetailView"
                [allowDeleting]="!isMasterDetailView">
                <dxo-popup
                    title="Save comment"
                    [showTitle]="true"
                    position="{ my: 'center', at: 'center', of: window}"
                    >
                    <dxi-toolbar-item
                        widget="dxButton"
                        toolbar="bottom"
                        location="after"
                        [options]="btnSaveReviewPopupConfig">
                    </dxi-toolbar-item>
                    <dxi-toolbar-item
                        widget="dxButton"
                        toolbar="bottom"
                        location="after"
                        [options]="btnCloseReviewPopupConfig">
                    </dxi-toolbar-item>
                </dxo-popup>
                <dxo-form  [colCount]="1">
                    <dxi-item dataField="comment"></dxi-item>
                </dxo-form>
            </dxo-editing>
        </dx-data-grid>    
    </div>


    <dxo-editing
        mode="popup"
        [allowAdding]="true"
        [allowUpdating]="true"
        [allowDeleting]="true">

        <dxo-popup
            title="Save Product"
            [showTitle]="true"
            position="{ my: 'center', at: 'center', of: window}"
            >
            <dxi-toolbar-item
                widget="dxButton"
                toolbar="bottom"
                location="after"
                [options]="btnSavePopupConfig">
            </dxi-toolbar-item>
            <dxi-toolbar-item
                widget="dxButton"
                toolbar="bottom"
                location="after"
                [options]="btnClosePopupConfig">
            </dxi-toolbar-item>
        </dxo-popup>
        <dxo-form [(formData)]="service.activeRecord" [colCount]="1">
            <dxi-item>
                <h5>Employee: {{service.employee}}</h5>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="4" [colSpan]="4" caption="Product Details">
                <dxi-item dataField="title"></dxi-item>
                <dxi-item dataField="description" ></dxi-item>
                <dxi-item dataField="category"></dxi-item>
                <dxi-item dataField="price" editorType="dxNumberBox" [editorOptions]="{format:'€ #,##0.##'}"></dxi-item>
            </dxi-item>
            <dxi-item dataField="reviews" [visible]="true" editCellTemplate="masterDetail" ></dxi-item>
        </dxo-form>
    </dxo-editing>
</dx-data-grid>